<!DOCTYPE html>
<html>

<head>
  <% include ../views/partials/html_head%>
  <title>
    <%= title %>
  </title>

</head>

<body>
  <% include ../views/partials/header%>


  <script src="../javascripts/esp_view.js"></script>
  <script src="../javascripts/data_required_script.js"></script>
  <% include ../views/partials/footer%>
</body>

</html>